/* Suppression du numéro de téléphone */
header .right-area #user-menu .npytel {
  display: none;
}

/* Customisation selecteur de langue     */
#lang_menu > li {
  background-color: var(--pri);
  color: #fff;
  font-size: 0.8em;
  transform: translateY(3px);
}

#lang_menu .submenu {
  background-color: #dec3f9a8;
  color: var(--pri);
  font-weight: 900;
}
