/* Bouton - step classique */

.btn-main {
  background-color: var(--sec);
  color: white;
  border-radius: 8px !important;
}

.btn-main:hover {
  background-color: var(---pri-90);
  color: white !important;
  border: var(--pri-90);
}

/* Bouton - step options */

#ticket_container .ticket_submit {
  border-radius: 6px;
}

/* Label produit */

/* Fix bug options */
.option_item .option_desc {
  padding: 10px;
  color: #303030;
}

.option_item .option_desc .btn_option_row .btn_option {
  background-color: var(--pri);
  padding: 15px 20px;
  display: inline-block;
  margin: 10px 0;
}

.skier_target {
  background: #fff !important;
  color: var(--pri) !important;
  border: 2px solid var(--pri) !important;
  border-radius: 500px;
  padding: 13px 10px 10px 10px !important;
  width: fit-content;
  margin: 5px;
  transition: all 0.3s;
}

.skier_target:hover {
  background: var(--pri-90) !important;
  color: #fff !important;
  border: 2px solid var(--pri-90) !important;
}

.option_wrapper .skieur_targeter .skier_target:not(.active) {
  border-left: 2px solid var(--pri) !important;
}

.option_wrapper .skieur_targeter .skier_target:not(.active):hover {
  border-left: 2px solid var(--pri-90) !important;
}

.option_wrapper .skieur_targeter .skier_target.active {
  background: var(--pri) !important;
  color: #fff !important;
  border: 2px solid !important;
  border-radius: 500px;
  padding: 10px !important;
  width: 100%;
  margin: 5px;
  border-color: var(--pri) !important;
}

.option_wrapper .skieur_targeter .skier_target .remove_right {
  transition: all 0.3s;
}

.option_wrapper .skieur_targeter .skier_target .remove_right:hover {
  transform: scale(1.1);
}
