/* Fix bug etudiants */

.option_item .option_desc {
  padding: 10px;
  color: #303030;
}

.option_item .option_desc .btn_option_row .btn_option {
  background-color: var(--cvpv2_primary_color);
  padding: 15px 20px;
  display: inline-block;
  margin: 10px 0;
}

.skier_target {
  background: #fff !important;
  color: var(--cvpv2_primary_color) !important;
  border: 2px solid var(--cvpv2_primary_color) !important;
  border-radius: 500px;
  padding: 13px 10px 10px 10px !important;
  width: fit-content;
  margin: 5px;
  transition: all 0.3s;
}

.skier_target:hover {
  background: var(--cvpv2_primary_color) !important;
  color: #fff !important;
  border: 2px solid var(--cvpv2_primary_color) !important;
}

.option_wrapper .skieur_targeter .skier_target:not(.active) {
  border-left: 2px solid var(--cvpv2_primary_color) !important;
}

.option_wrapper .skieur_targeter .skier_target:not(.active):hover {
  border-left: 2px solid var(--cvpv2_primary_color) !important;
}

.option_wrapper .skieur_targeter .skier_target.active {
  background: var(--cvpv2_primary_color) !important;
  color: #fff !important;
  border: 2px solid !important;
  border-radius: 500px;
  padding: 10px !important;
  width: 100%;
  margin: 5px;
  border-color: var(--cvpv2_primary_color) !important;
}

.option_wrapper .skieur_targeter .skier_target .remove_right {
  transition: all 0.3s;
}

.option_wrapper .skieur_targeter .skier_target .remove_right:hover {
  transform: scale(1.1);
}
