/* Surcharge bouton sélecteur */
.rpbox .column.finder {
  margin: 7px 7px 7px 0;
  background-color: var(--pri) !important;
  border-radius: 5px !important;
}

.rpbox .column.finder:hover {
  background-color: var(--pri-90) !important;
}
